/* base */
@import './base/base.css';
@import './base/layout.css';

/* vendors */
@import './vendor/font-awesome.min.css';

/* components */
@import './components/header.css';
@import './components/hero.css';
@import './components/service-card.css';

/* CUSTOM CSS */