.hero {
  color: #fff;
  min-height: 100vh;
  background-image: url(../../img/hero/hero.webp);
}
.hero .hero-content {
  height: calc(100vh - 10rem);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
}