:root {
  --color-primary: #c90f16;
  --color-grey: #f3f5f7;
  --color-dark: #060404;
}

body,
body * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

main > .container {
  padding-top: 10rem;
}

#app {
  display: flex;
  flex-direction: column;
}

img {
  width: 100%;
  object-fit: contain;
}

.bg-grey {
  background-color: var(--color-grey);
}
.bg-dark {
  background-color: var(--color-dark);
  color: #fff;
}
.bg-red {
  background-color: var(--color-primary);
}

.section-texts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
}
.section-texts.section-texts-center {
  align-items: center;
  text-align: center;
}
.section-tag {
  display: inline-block;
  font-size: 1.1rem;
  line-height: 1em;
  text-transform: capitalize;
  color: #c90f16;
  background-color: #fae7e8;
  padding: 0.5em 0.9em;
  border-radius: 0.3em;
}
.section-tag.section-tag-white {
  color: #fff;
  background-color: #222;
}
.section-title {
  font-size: 2.5rem;
}
.section-desc {
  font-size: 1.3rem;
  color: #777;
}