:root {
  --half-gap: 1rem;
  --gap: calc(var(--half-gap) * 2);
  --c1: calc(100% / 12 - var(--gap));
  --c2: calc(var(--c1) + var(--gap) + var(--c1));
  --c3: calc(var(--c2) + var(--gap) + var(--c1));
  --c4: calc(var(--c3) + var(--gap) + var(--c1));
  --c5: calc(var(--c4) + var(--gap) + var(--c1));
  --c6: calc(var(--c5) + var(--gap) + var(--c1));
  --c7: calc(var(--c6) + var(--gap) + var(--c1));
  --c8: calc(var(--c7) + var(--gap) + var(--c1));
  --c9: calc(var(--c8) + var(--gap) + var(--c1));
  --c10: calc(var(--c9) + var(--gap) + var(--c1));
  --c11: calc(var(--c10) + var(--gap) + var(--c1));
  --c12: calc(var(--c11) + var(--gap) + var(--c1));
  --m0: var(--half-gap);
  --m1: calc(var(--m0) + var(--gap) + var(--c1));
  --m2: calc(var(--m1) + var(--gap) + var(--c1));
  --m3: calc(var(--m2) + var(--gap) + var(--c1));
  --m4: calc(var(--m3) + var(--gap) + var(--c1));
  --m5: calc(var(--m4) + var(--gap) + var(--c1));
  --m6: calc(var(--m5) + var(--gap) + var(--c1));
  --m7: calc(var(--m6) + var(--gap) + var(--c1));
  --m8: calc(var(--m7) + var(--gap) + var(--c1));
  --m9: calc(var(--m8) + var(--gap) + var(--c1));
  --m10: calc(var(--m9) + var(--gap) + var(--c1));
  --m11: calc(var(--m10) + var(--gap) + var(--c1));
}

.container,
.container-fluid {
  display: inline-block;
  width: 100%;
  padding: 4rem 1rem;
}
.row {
  width: 100%;
  float: left;
  margin: 1rem 0;
}
.container-fluid .row {
  width: 100% !important;
  float: left;
  margin: 1rem 0;
}

[class*='col-'] {
  margin: 0 var(--half-gap);
  float: left;
}
.col-1 {
  width: var(--c1);
}
.col-2 {
  width: var(--c2);
}
.col-3 {
  width: var(--c3);
}
.col-4 {
  width: var(--c4);
}
.col-5 {
  width: var(--c5);
}
.col-6 {
  width: var(--c6);
}
.col-7 {
  width: var(--c7);
}
.col-8 {
  width: var(--c8);
}
.col-9 {
  width: var(--c9);
}
.col-10 {
  width: var(--c10);
}
.col-11 {
  width: var(--c11);
}
.col-12 {
  width: var(--c12);
}

.m-0 {
  margin-left: var(--half-gap);
}
.m-1 {
  margin-left: var(--m1);
}
.m-2 {
  margin-left: var(--m2);
}
.m-3 {
  margin-left: var(--m3);
}
.m-4 {
  margin-left: var(--m4);
}
.m-5 {
  margin-left: var(--m5);
}
.m-6 {
  margin-left: var(--m6);
}
.m-7 {
  margin-left: var(--m7);
}
.m-8 {
  margin-left: var(--m8);
}
.m-9 {
  margin-left: var(--m9);
}
.m-10 {
  margin-left: var(--m10);
}
.m-11 {
  margin-left: var(--m11);
}

@media (min-width: 576px) {
  .row {
    width: 540px;
    margin: 1rem calc((100% - 540px) / 2);
  }

  .col-sm-1 {
    width: var(--c1);
  }
  .col-sm-2 {
    width: var(--c2);
  }
  .col-sm-3 {
    width: var(--c3);
  }
  .col-sm-4 {
    width: var(--c4);
  }
  .col-sm-5 {
    width: var(--c5);
  }
  .col-sm-6 {
    width: var(--c6);
  }
  .col-sm-7 {
    width: var(--c7);
  }
  .col-sm-8 {
    width: var(--c8);
  }
  .col-sm-9 {
    width: var(--c9);
  }
  .col-sm-10 {
    width: var(--c10);
  }
  .col-sm-11 {
    width: var(--c11);
  }
  .col-sm-12 {
    width: var(--c12);
  }

  .m-sm-0 {
    margin-left: var(--half-gap);
  }
  .m-sm-1 {
    margin-left: var(--m1);
  }
  .m-sm-2 {
    margin-left: var(--m2);
  }
  .m-sm-3 {
    margin-left: var(--m3);
  }
  .m-sm-4 {
    margin-left: var(--m4);
  }
  .m-sm-5 {
    margin-left: var(--m5);
  }
  .m-sm-6 {
    margin-left: var(--m6);
  }
  .m-sm-7 {
    margin-left: var(--m7);
  }
  .m-sm-8 {
    margin-left: var(--m8);
  }
  .m-sm-9 {
    margin-left: var(--m9);
  }
  .m-sm-10 {
    margin-left: var(--m10);
  }
  .m-sm-11 {
    margin-left: var(--m11);
  }
}

@media (min-width: 768px) {
  .row {
    width: 720px;
    margin: 1rem calc((100% - 720px) / 2);
  }

  .col-md-1 {
    width: var(--c1);
  }
  .col-md-2 {
    width: var(--c2);
  }
  .col-md-3 {
    width: var(--c3);
  }
  .col-md-4 {
    width: var(--c4);
  }
  .col-md-5 {
    width: var(--c5);
  }
  .col-md-6 {
    width: var(--c6);
  }
  .col-md-7 {
    width: var(--c7);
  }
  .col-md-8 {
    width: var(--c8);
  }
  .col-md-9 {
    width: var(--c9);
  }
  .col-md-10 {
    width: var(--c10);
  }
  .col-md-11 {
    width: var(--c11);
  }
  .col-md-12 {
    width: var(--c12);
  }

  .m-md-0 {
    margin-left: var(--half-gap);
  }
  .m-md-1 {
    margin-left: var(--m1);
  }
  .m-md-2 {
    margin-left: var(--m2);
  }
  .m-md-3 {
    margin-left: var(--m3);
  }
  .m-md-4 {
    margin-left: var(--m4);
  }
  .m-md-5 {
    margin-left: var(--m5);
  }
  .m-md-6 {
    margin-left: var(--m6);
  }
  .m-md-7 {
    margin-left: var(--m7);
  }
  .m-md-8 {
    margin-left: var(--m8);
  }
  .m-md-9 {
    margin-left: var(--m9);
  }
  .m-md-10 {
    margin-left: var(--m10);
  }
  .m-md-11 {
    margin-left: var(--m11);
  }
}

@media (min-width: 992px) {
  .row {
    width: 960px;
    margin: 1rem calc((100% - 960px) / 2);
  }

  .col-lg-1 {
    width: var(--c1);
  }
  .col-lg-2 {
    width: var(--c2);
  }
  .col-lg-3 {
    width: var(--c3);
  }
  .col-lg-4 {
    width: var(--c4);
  }
  .col-lg-5 {
    width: var(--c5);
  }
  .col-lg-6 {
    width: var(--c6);
  }
  .col-lg-7 {
    width: var(--c7);
  }
  .col-lg-8 {
    width: var(--c8);
  }
  .col-lg-9 {
    width: var(--c9);
  }
  .col-lg-10 {
    width: var(--c10);
  }
  .col-lg-11 {
    width: var(--c11);
  }
  .col-lg-12 {
    width: var(--c12);
  }

  .m-lg-0 {
    margin-left: var(--half-gap);
  }
  .m-lg-1 {
    margin-left: var(--m1);
  }
  .m-lg-2 {
    margin-left: var(--m2);
  }
  .m-lg-3 {
    margin-left: var(--m3);
  }
  .m-lg-4 {
    margin-left: var(--m4);
  }
  .m-lg-5 {
    margin-left: var(--m5);
  }
  .m-lg-6 {
    margin-left: var(--m6);
  }
  .m-lg-7 {
    margin-left: var(--m7);
  }
  .m-lg-8 {
    margin-left: var(--m8);
  }
  .m-lg-9 {
    margin-left: var(--m9);
  }
  .m-lg-10 {
    margin-left: var(--m10);
  }
  .m-lg-11 {
    margin-left: var(--m11);
  }
}

@media (min-width: 1200px) {
  .row {
    width: 1140px;
    margin: 1rem calc((100% - 1140px) / 2);
  }

  .col-xl-1 {
    width: var(--c1);
  }
  .col-xl-2 {
    width: var(--c2);
  }
  .col-xl-3 {
    width: var(--c3);
  }
  .col-xl-4 {
    width: var(--c4);
  }
  .col-xl-5 {
    width: var(--c5);
  }
  .col-xl-6 {
    width: var(--c6);
  }
  .col-xl-7 {
    width: var(--c7);
  }
  .col-xl-8 {
    width: var(--c8);
  }
  .col-xl-9 {
    width: var(--c9);
  }
  .col-xl-10 {
    width: var(--c10);
  }
  .col-xl-11 {
    width: var(--c11);
  }
  .col-xl-12 {
    width: var(--c12);
  }

  .m-xl-0 {
    margin-left: var(--half-gap);
  }
  .m-xl-1 {
    margin-left: var(--m1);
  }
  .m-xl-2 {
    margin-left: var(--m2);
  }
  .m-xl-3 {
    margin-left: var(--m3);
  }
  .m-xl-4 {
    margin-left: var(--m4);
  }
  .m-xl-5 {
    margin-left: var(--m5);
  }
  .m-xl-6 {
    margin-left: var(--m6);
  }
  .m-xl-7 {
    margin-left: var(--m7);
  }
  .m-xl-8 {
    margin-left: var(--m8);
  }
  .m-xl-9 {
    margin-left: var(--m9);
  }
  .m-xl-10 {
    margin-left: var(--m10);
  }
  .m-xl-11 {
    margin-left: var(--m11);
  }
}

@media (min-width: 1400px) {
  .row {
    width: 1320px;
    margin: 1rem calc((100% - 1320px) / 2);
  }

  .col-xxl-1 {
    width: var(--c1);
  }
  .col-xxl-2 {
    width: var(--c2);
  }
  .col-xxl-3 {
    width: var(--c3);
  }
  .col-xxl-4 {
    width: var(--c4);
  }
  .col-xxl-5 {
    width: var(--c5);
  }
  .col-xxl-6 {
    width: var(--c6);
  }
  .col-xxl-7 {
    width: var(--c7);
  }
  .col-xxl-8 {
    width: var(--c8);
  }
  .col-xxl-9 {
    width: var(--c9);
  }
  .col-xxl-10 {
    width: var(--c10);
  }
  .col-xxl-11 {
    width: var(--c11);
  }
  .col-xxl-12 {
    width: var(--c12);
  }

  .m-xxl-0 {
    margin-left: var(--half-gap);
  }
  .m-xxl-1 {
    margin-left: var(--m1);
  }
  .m-xxl-2 {
    margin-left: var(--m2);
  }
  .m-xxl-3 {
    margin-left: var(--m3);
  }
  .m-xxl-4 {
    margin-left: var(--m4);
  }
  .m-xxl-5 {
    margin-left: var(--m5);
  }
  .m-xxl-6 {
    margin-left: var(--m6);
  }
  .m-xxl-7 {
    margin-left: var(--m7);
  }
  .m-xxl-8 {
    margin-left: var(--m8);
  }
  .m-xxl-9 {
    margin-left: var(--m9);
  }
  .m-xxl-10 {
    margin-left: var(--m10);
  }
  .m-xxl-11 {
    margin-left: var(--m11);
  }
}